<head>
    <title>项目匹配之项目名和帧</title>
</head>
<h2>项目匹配之项目名和帧</h2>
<form name="home" action="/" method="get">
    <button>go home</button>
</form>

<form name="VR" action="/VR_EBWU_BRTZ_FS" method="get">
    <button class="btn_VR">VR</button>
</form>

<form name="NINI_CGNE_ZV_NINI_WU_MR_ES" action="/NINI_CGNE_ZV_NINI_WU_MR_ES" method="post">
    <li>输入参考文件路径（sysData）</li>
    <input name="VDZV_1" value="{{JTYP_2}}" size="80">
    <br>
    <li>输入项目名或者输入项目名和相应的帧</li>
    <textarea name="VDZV_2" rows="20" cols="180" onfocus="select()">{{rj_vdzv_2}}</textarea>
    <br>
    <li>输入操作符(STR为匹配数据流操作符，输入其他将默认匹配版本信息)</li>
    <input name="VDZV_3" value="{{JTYP_3}}">
    <li>输入编码(默认为GB2312)</li>
    <input name="VDZV_4" value="{{vkvy_dbkz}}">
    <br>
    <button>提交</button>
</form>
<textarea rows="20" cols="180" onfocus="select()">{{JTYP_1}}</textarea>